{% extends "layouts/base.html" %}
{% block title %}Cadastro | Askly{% endblock %}

{% block content %}
  <div class="columns is-centered">
    <div class="column is-6">
      <h1 class="title">Cadastro</h1>

      <form method="post">
        {{ csrf_token() }}

        <div class="field">
          <label class="label">Nome</label>
          <div class="control">
            <input class="input" type="text" name="nome" required />
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" name="email" required />
          </div>
        </div>

        <div class="field">
          <label class="label">Senha</label>
          <div class="control">
            <input class="input" type="password" name="senha" minlength="6" required />
          </div>
        </div>

        <div class="field">
          <label class="label">Confirmar senha</label>
          <div class="control">
            <input class="input" type="password" name="confirmar_senha" minlength="6" required />
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Cadastrar</button>
          </div>
          <div class="control">
            <a class="button is-light" href="{{ url_for('web_auth.login') }}">Voltar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

